.App {
  font-family: sans-serif;
  text-align: center;
  margin: 25vh auto;
  max-width: 450px;
  background-color: #4d4dff;
  padding: 50px 0;
  border-radius: 10px;
  color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn-con button {
  border: none;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-con {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
